/* SASS FILE FOR ZOOKILLSOCCER */

$primaryColor: #eeffcc;
$secondaryColor: #ddd;
$tertiaryColor: #efe;

body {
	background-color: $tertiaryColor;
}
/*initially, hide all the screens
.app-screen {
	display:none;
}